*{
    box-sizing: border-box;
}
:root {
    --active-bg: rgba(220, 234, 249, 255);
    --bg: rgba(246, 247, 249, 255);
    --round-color: white;

}
.checkbox-i{
    display: none;
}
.checkbox-i:checked + .switch-round{
    margin-left: 45px;
    background-image: url(./unlock.png)
}
.checkbox-i:checked ~ .switch-bg{
    background-color: var(--active-bg);
}
.switch{
    display: block;
    padding: 3px;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.switch-round{
    height: 34px;
    width: 34px;
    background-color: var(--round-color);
    border-radius: 50%;
    transition: margin 0.3s;
    background-image: url(./padlock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.switch-bg{
    background-color: var(--bg);
    height: 40px;
    width: 85px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
